[Desktop Entry]
Name=battery
Comment=My battery
Exec=/home/Beta/Documents/LPWA-station/UPS_HAT_E/battery.sh
Icon=/home/Beta/Documents/LPWA-station/UPS_HAT_E/images/battery.1.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
